{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Admin!</h1>
            <p>Admin only secured content!</p>
        </div>
    </div>
{% endblock %}